#  Introdução ao Python
## Professor: Luiz Ferreira

## Módulo 1

### Introdução ao Python

_____________

## Trabalhando com banco de dados em Python

Ainda visando a persistência de dados, temos o uso de banco de dados, que são estruturas capazes de armazenar determinados objetos para que possam ser manipulados posteriormente. Existem inúmeras ferramentas de banco de dados, passando de uso mais complexo e robusto até simples armazenamento de dados. A ferramenta de banco de dados mais utilizada em aplicações desktop e web é o `MySQL` (MariaDB).

Com Python podemos utilizar o banco de dados [SQLite](www.sqlite.org), que permite a criação de um banco de dados a partir de bibliotecas da linguagem de programação que esteja utilizando. Esse banco de dados é relacional, sem servidor e com configuração minimalista. O que permite desenvolver rapidamente programas persistentes com menor capacidade de processamento, ou que não necessitem de complexidade em sua execução, como no caso de programação para smartphones.

Consideremos a sintaxe da aula de hoje como Python 3.

Para instalar o SQLite podemos utilizar o comando `pip`.

In [ ]:
pip install sqlite

Depois de instalado, podemos criar um banco de dados de duas maneiras, através de armazenamento em memória ou armazenamento persistente.

In [ ]:
conn = sqlite3.connect(':memory:') # Armazenamento em memória

conn = sqlite3.connect('clientes.db') # Armazenamento persistente

A partir dessas informações, uma conexão mínima em um banco de dados SQLite é :

In [ ]:
import sqlite3

conn = sqlite3.connect('clientes.db')
conn.close()

Lembrando sempre de fechar a conexão quando não for mais necessária, evitando problemas futuros na base de dados, problemas como, corromper a base.

Com isso teremos nosso banco de dados pronto para o uso.

### Criando tabelas

Utilizando o princípio da simplicidade que o SQLite propõe, teremos dois métodos principais na criação de tabelas, são eles:

#### cursor:
É um iterador que permite a navegação e manipulação de registros de nosso banco de dados.

#### execute:
Lê e executa comandos SQL puro diretamente no banco de dados.

In [ ]:
import sqlite3

# conectando...
conn = sqlite3.connect('clientes.db')
# definindo um cursor
cursor = conn.cursor()

# criando a tabela (schema)
cursor.execute("""
CREATE TABLE clientes (
        id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
        nome TEXT NOT NULL,
        idade INTEGER,
        cpf     VARCHAR(11) NOT NULL,
        email TEXT NOT NULL,
        fone TEXT,
        cidade TEXT,
        uf VARCHAR(2) NOT NULL,
        criado_em DATE NOT NULL
);
""")

print('Tabela criada com sucesso.')
# desconectando...
conn.close()

Para ver a tabela criada, basta utilizar o terminal:

In [ ]:
sqlite3 clientes.db '.tables'

sqlite3 clientes.db 'PRAGMA table_info(clientes)'

Digitando `sqlite3 clientes.db '.tables'` você verá que a tabela foi criada.

E o comando `sqlite3 clientes.db 'PRAGMA table_info(clientes)'` retorna os campos da tabela.

### Criando registros para a tabela

A única novidade aqui é o método `commit()`. É ele que grava de fato as alterações na tabela. Lembrando que uma tabela é alterada com as instruções SQL `"INSERT", "UPDATE" e "DELETE"`.

In [ ]:
import sqlite3

conn = sqlite3.connect('clientes.db')
cursor = conn.cursor()

# inserindo dados na tabela
cursor.execute("""
INSERT INTO clientes (nome, idade, cpf, email, fone, cidade, uf, criado_em)
VALUES ('Regis', 35, '00000000000', 'regis@email.com', '11-98765-4321', 'Sao Paulo', 'SP', '2014-06-08')
""")

cursor.execute("""
INSERT INTO clientes (nome, idade, cpf, email, fone, cidade, uf, criado_em)
VALUES ('Aloisio', 87, '11111111111', 'aloisio@email.com', '98765-4322', 'Porto Alegre', 'RS', '2014-06-09')
""")

cursor.execute("""
INSERT INTO clientes (nome, idade, cpf, email, fone, cidade, uf, criado_em)
VALUES ('Bruna', 21, '22222222222', 'bruna@email.com', '21-98765-4323', 'Rio de Janeiro', 'RJ', '2014-06-09')
""")

cursor.execute("""
INSERT INTO clientes (nome, idade, cpf, email, fone, cidade, uf, criado_em)
VALUES ('Matheus', 19, '33333333333', 'matheus@email.com', '11-98765-4324', 'Campinas', 'SP', '2014-06-08')
""")

# gravando no bd
conn.commit()

print('Dados inseridos com sucesso.')

conn.close()

##### Inserindo n registros com uma tupla de dados

Usando uma lista, conforme visto em aulas anteriores, podemos inserir vários registros de uma vez, e o método `executemany` permite que realizemos essa ação.

In [ ]:
import sqlite3

conn = sqlite3.connect('clientes.db')
cursor = conn.cursor()

# criando uma lista de dados
lista = [(
    'Fabio', 23, '44444444444', 'fabio@email.com', '1234-5678', 'Belo Horizonte', 'MG', '2014-06-09'),
    ('Joao', 21, '55555555555', 'joao@email.com',
     '11-1234-5600', 'Sao Paulo', 'SP', '2014-06-09'),
    ('Xavier', 24, '66666666666', 'xavier@email.com', '12-1234-5601', 'Campinas', 'SP', '2014-06-10')]

# inserindo dados na tabela
cursor.executemany("""
INSERT INTO clientes (nome, idade, cpf, email, fone, cidade, uf, criado_em)
VALUES (?,?,?,?,?,?,?,?)
""", lista)

conn.commit()

print('Dados inseridos com sucesso.')

conn.close()

Observe o uso de `?` isto significa que no lugar de cada `?` entrará os valores da lista na sua posição respectiva. É o que nós chamamos de `parâmetros de entrada`.

###### Inserindo um registro com parâmetros de entrada definido pelo usuário

Neste exemplo usaremos parâmetros de entrada, que deverá ser digitado pelo usuário. Esta é a forma mais desejável de entrada de dados porque o usuário pode digitar os dados em tempo de execução.

In [ ]:
import sqlite3

conn = sqlite3.connect('clientes.db')
cursor = conn.cursor()

# solicitando os dados ao usuário
p_nome = input('Nome: ')
p_idade = input('Idade: ')
p_cpf = input('CPF: ')
p_email = input('Email: ')
p_fone = input('Fone: ')
p_cidade = input('Cidade: ')
p_uf = input('UF: ')
p_criado_em = input('Criado em (yyyy-mm-dd): ')

# inserindo dados na tabela
cursor.execute("""
INSERT INTO clientes (nome, idade, cpf, email, fone, cidade, uf, criado_em)
VALUES (?,?,?,?,?,?,?,?)
""", (p_nome, p_idade, p_cpf, p_email, p_fone, p_cidade, p_uf, p_criado_em))

conn.commit()

print('Dados inseridos com sucesso.')

conn.close()

### Lendo os dados

Aqui nós usamos o famoso comando `SELECT`. O método `fetchall()` é o responsavel por retornra o resultado do SELECT.

In [ ]:
import sqlite3

conn = sqlite3.connect('clientes.db')
cursor = conn.cursor()

# lendo os dados
cursor.execute("""
SELECT * FROM clientes;
""")

for linha in cursor.fetchall():
    print(linha)

conn.close()

Depois de executar, temos o seguinte resultado:

In [ ]:
(1, 'Regis', 35, '00000000000', 'regis@email.com', '11-98765-4321', 'Sao Paulo', 'SP', '2014-06-08')
(2, 'Aloisio', 87, '11111111111', 'aloisio@email.com', '98765-4322', 'Porto Alegre', 'RS', '2014-06-09')
(3, 'Bruna', 21, '22222222222', 'bruna@email.com', '21-98765-4323', 'Rio de Janeiro', 'RJ', '2014-06-09')
(4, 'Matheus', 19, '33333333333', 'matheus@email.com', '11-98765-4324', 'Campinas', 'SP', '2014-06-08')
(5, 'Fabio', 23, '44444444444', 'fabio@email.com', '1234-5678', 'Belo Horizonte', 'MG', '2014-06-09')
(6, 'Joao', 21, '55555555555', 'joao@email.com', '11-1234-5600', 'Sao Paulo', 'SP', '2014-06-09')
(7, 'Xavier', 24, '66666666666', 'xavier@email.com', '12-1234-5601', 'Campinas', 'SP', '2014-06-10')
(8, 'Regis', 35, '30020030011', 'regis@email.com', '11 9750-0000', 'Sao Paulo', 'SP', '2014-06-15')

### Alterando os dados

Observe o uso das variáveis `id_cliente` onde definimos o id a ser alterado, novo_fone e novo_criado_em usados como parâmetro para alterar os dados. Neste caso, salvamos as alterações com o método `commit()`.

In [ ]:
import sqlite3

conn = sqlite3.connect('clientes.db')
cursor = conn.cursor()

id_cliente = 1
novo_fone = '11-1000-2014'
novo_criado_em = '2014-06-11'

# alterando os dados da tabela
cursor.execute("""
UPDATE clientes
SET fone = ?, criado_em = ?
WHERE id = ?
""", (novo_fone, novo_criado_em, id_cliente))

conn.commit()

print('Dados atualizados com sucesso.')

conn.close()

Com isso atualizaremos os dados registrados conforme seu `id`.

### Deletando os dados

Vamos excluir um registro pelo seu `id`.

In [ ]:
import sqlite3

conn = sqlite3.connect('clientes.db')
cursor = conn.cursor()

id_cliente = 8

# excluindo um registro da tabela
cursor.execute("""
DELETE FROM clientes
WHERE id = ?
""", (id_cliente,))

conn.commit()

print('Registro excluido com sucesso.')

conn.close()

### Adicionando uma nova coluna

Para inserir uma nova coluna na tabela usamos o comando SQL `ALTER TABLE`.

In [ ]:
import sqlite3

conn = sqlite3.connect('clientes.db')
cursor = conn.cursor()

# adicionando uma nova coluna na tabela clientes
cursor.execute("""
ALTER TABLE clientes
ADD COLUMN bloqueado BOOLEAN;
""")

conn.commit()

print('Novo campo adicionado com sucesso.')

conn.close()

### Lendo as informações do banco de dados

Para ler as informações da tabela usamos o comando PRAGMA.

Para listar as tabelas do banco usamos o comando SELECT name FROM sqlite_master ....

Para ler o schema da tabela usamos o comando SELECT sql FROM sqlite_master ....

In [ ]:
import sqlite3

conn = sqlite3.connect('clientes.db')
cursor = conn.cursor()
nome_tabela = 'clientes'

# obtendo informações da tabela
cursor.execute('PRAGMA table_info({})'.format(nome_tabela))

colunas = [tupla[1] for tupla in cursor.fetchall()]
print('Colunas:', colunas)
# ou
# for coluna in colunas:
#    print(coluna)

# listando as tabelas do bd
cursor.execute("""
SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
""")

print('Tabelas:')
for tabela in cursor.fetchall():
    print("%s" % (tabela))

# obtendo o schema da tabela
cursor.execute("""
SELECT sql FROM sqlite_master WHERE type='table' AND name=?
""", (nome_tabela,))

print('Schema:')
for schema in cursor.fetchall():
    print("%s" % (schema))

conn.close()

Eis o resultado:

In [ ]:
Colunas: ['id', 'nome', 'idade', 'cpf', 'email', 'fone', 'cidade', 'uf', 'criado_em', 'bloqueado']
Tabelas:
clientes
sqlite_sequence
Schema:
CREATE TABLE clientes (
        id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
        nome TEXT NOT NULL,
        idade INTEGER,
        cpf     VARCHAR(11) NOT NULL,
        email TEXT NOT NULL,
        fone TEXT,
        cidade TEXT,
        uf VARCHAR(2) NOT NULL,
        criado_em DATE NOT NULL
, bloqueado BOOLEAN)

### Fazendo backup do banco de dados (exportando dados)

Talvez seja este o item mais importante: `backup`. Observe o uso da biblioteca `io` que salva os dados num arquivo externo através do método `write`, e o método `iterdump()` que exporta a estrutura e dados da tabela para o arquivo externo.

In [ ]:
import sqlite3
import io

conn = sqlite3.connect('clientes.db')

with io.open('clientes_dump.sql', 'w') as f:
    for linha in conn.iterdump():
        f.write('%s\n' % linha)

print('Backup realizado com sucesso.')
print('Salvo como clientes_dump.sql')

conn.close()

### Recuperando o backup

Criaremos um novo banco de dados e iremos reconstruir a tabela e os dados com o arquivo clientes_dump.sql. O método `read()` lê o conteúdo do arquivo clientes_dump.sql e o método `executescript()` executa as instruções SQL escritas neste arquivo.

In [ ]:
import sqlite3
import io

conn = sqlite3.connect('clientes_recuperado.db')
cursor = conn.cursor()

f = io.open('clientes_dump.sql', 'r')
sql = f.read()
cursor.executescript(sql)

print('Banco de dados recuperado com sucesso.')
print('Salvo como clientes_recuperado.db')

conn.close()